# WWise Picker (editor)
# from https://www.audiokinetic.com/library/edge/?source=Unity&id=unity__troubleshooting.html
# >> Do not keep AkWwiseProjectData.asset under version control! 
# >> This is a temporary cache file for the Wwise project data, 
# >> so as to avoid having the Wwise Picker continuously parse the Work Unit files.
AkWwiseProjectData.asset*